<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
    <title>Sparta Coding Club | Bootstrap Pratice</title>

    <script>
        $(document).ready(function () {
            listing();
        });
        bsCustomFileInput.init()
        function listing() {
        $('#image').val('')
        $('#profile').val('')
        $("#image-title").val('')
        $("#image-description").val('')
            $.ajax({
                type: "GET",
                url: "/diary/get",
                data: {},
                success: function (response) {
                    let articles = response['articles'];
                    for (let i = 0; i < articles.length; i++) {
                        let title =articles[i]['title'];
                        let content =articles[i]['content'];
                        let file = articles[i]['file'];
                        let temp_html = `
                        <div class="col-4">
                <div class="card">
                    <img src="../${file}"
                        class="card-img-top" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">${title}</h5>
                        <p class="card-text">${content}</p>
                        <h6 class="card-subtitle mb-2 text-muted">2022.02.15</h6>
                    </div>
                </div>
            </div>
                        `;
                        $('#cards-box').append(temp_html);
                     }
                },
            });
        }
        function posting() {
            let title = $('#image-title').val();
            if (!title) {
                return alert('Hey user, you forgot a title');
            }
            let content = $('#image-description').val();
            if (!content) {
                return alert('Hey user, you forgot a description');
            }
            let file = $("#image").prop("files")[0];

            let form_data = new FormData();    

            form_data.append("file_give", file);
            form_data.append("title_give", title);
            form_data.append("content_give", content);

            form_data.append = new FormData();
            $.ajax({
                type: "POST",
                url: "/diary/post",
                data: form_data,
                contentType: false,
                processData: false,
                success: function (response) {
                    alert(response["msg"]);
                    window.location.reload();
                },
            });
        }
    </script>
</head>

<body>
    <div class="container">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Personal Diary</h1>
                <div class="input-goup mb-3 custom-file">
                    <input class="form-control" type="file" id="image" />
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="image-title" placeholder="The title of your image" />
                </div>
                <div class="mb-3">
                    <textarea placeholder="The description of your image" class="form-control" id="image-description"
                        rows="3"></textarea>
                </div>
                <button  type="button" onclick="posting()" class="btn btn-primary">Save</button>
            </div>
        </div>
        <div class="row justify-content-start" id="cards-box"></div>
    </div>
    </div>
</body>

</html>